
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
iframe{
    border: none;
    width: 100%;
    height: 100%;
}

footer{
    padding: 5px;
    width: calc(100% - 10px);
    height: 40px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #ccc;
    text-align: right;
    color: #000;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.3;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #ccc;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  